## Calculating Expected RoR for a Portfolio

In [42]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import random

In [43]:
dataset = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')

In [44]:
table = dataset[1] 
table.count()

Company Name    50
Symbol          50
Sector          50
dtype: int64

In [45]:
table['Symbol'].head()

0    ADANIPORTS.NS
1    ASIANPAINT.NS
2      AXISBANK.NS
3    BAJAJ-AUTO.NS
4    BAJFINANCE.NS
Name: Symbol, dtype: object

In [46]:
tickers = table['Symbol'].tolist()
tickers

['ADANIPORTS.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BHARTIARTL.NS',
 'INFRATEL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GAIL.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'IOC.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBIN.NS',
 'SHREECEM.NS',
 'SUNPHARMA.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS',
 'ZEEL.NS']

In [47]:
len(tickers)

50

In [48]:
#Making portfolio of randomly selected 5 stocks

random_selection = random.sample(tickers,5)
random_selection

['ITC.NS', 'WIPRO.NS', 'INFY.NS', 'ICICIBANK.NS', 'ADANIPORTS.NS']

In [90]:
# Pull adj closing prices with dataheader

data = pd.DataFrame()

for item in random_selection:
    data[item] = web.DataReader(item,data_source='yahoo',start='01-01-2018')['Adj Close']
data.head()

                ITC.NS    WIPRO.NS     INFY.NS  ICICIBANK.NS  ADANIPORTS.NS
Date
2018-01-01  240.196548  235.025269  479.569672    304.018951     393.092072
2018-01-02  238.777176  236.621048  477.783203    303.431122     390.878998
2018-01-03  239.143448  230.125061  473.885559    308.623840     400.960785
2018-01-04  239.509750  231.387238  471.148010    308.329926     403.124725
2018-01-05  240.746002  229.828079  469.570343    306.566315     416.845764

In [91]:
#start and end of time series
print('Start: \n',data.iloc[:,0].head(1))
print('\nEnd:\n ',data.iloc[:,0].tail(1))

Start:
 Date
2018-01-01    240.196548
Name: ITC.NS, dtype: float64

End:
  Date
2020-08-21    196.800003
Name: ITC.NS, dtype: float64

In [95]:
#No. of months
2*12+8

32

In [96]:
# Daily returns

daily_returns = data.pct_change()
daily_returns.head()

              ITC.NS  WIPRO.NS   INFY.NS  ICICIBANK.NS  ADANIPORTS.NS
Date
2018-01-01       NaN       NaN       NaN           NaN            NaN
2018-01-02 -0.005909  0.006790 -0.003725     -0.001934      -0.005630
2018-01-03  0.001534 -0.027453 -0.008158      0.017113       0.025793
2018-01-04  0.001532  0.005485 -0.005777     -0.000952       0.005397
2018-01-05  0.005162 -0.006738 -0.003349     -0.005720       0.034037

In [105]:
#Annualized Returns  N in years: rate = (1+Return)^(1/N)-1
                #    N in months: rate = (1+Return)^(12/N)-1
annual_returns = (pow(daily_returns.mean()+1,(365))-1)
print(annual_returns)

ITC.NS          -0.049153
WIPRO.NS         0.156647
INFY.NS          0.583641
ICICIBANK.NS     0.255495
ADANIPORTS.NS    0.042776
dtype: float64

In [106]:
#No of eggs in basket

num = len(random_selection)
num

5

In [107]:
#weights of each egg - proportion

weights = np.random.random(num)
weights = weights/sum(weights)
weights

array([0.24473561, 0.27010847, 0.22510496, 0.16585617, 0.09419478])

In [108]:
sum(weights)

1.0

In [109]:
#Expected Returns of Portfolio

portfolio_ER= np.sum(weights*annual_returns)
portfolio_ER

0.20806723010618441

In [110]:
print('Expected Rate of Return:',str(round(portfolio_ER * 100, 2)) + '%')

Expected Rate of Return: 20.81%