## How to scrape information of NIFTY50 listed companies with python

In [57]:
#importing libraries
import os
import pandas as pd
import numpy as np
from pandas_datareader import data as web

In [58]:
dataset = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')

In [59]:
table = dataset[1] #using the table no to select that table
table.head()

    Company Name         Symbol              Sector
0    Adani Ports  ADANIPORTS.NS      Infrastructure
1   Asian Paints  ASIANPAINT.NS      Consumer Goods
2      Axis Bank    AXISBANK.NS             Banking
3     Bajaj Auto  BAJAJ-AUTO.NS          Automobile
4  Bajaj Finance  BAJFINANCE.NS  Financial Services

## Calculating Rates of Return of Single Financial Security.

Simple Returns/Discrete Returns = (End Price - Beginning Price)/Beg. price

OR

SR = (EP-BP+Divident Received)/BP

Log Return = Log(EP-BP) # use at returns on a single asset

In [61]:
data = pd.DataFrame()
tickers = ['SAIL']

for item in tickers:
    data[item] = web.DataReader(item, data_source='yahoo',start='01-01-2020')['Adj Close']
data.head()

                 SAIL
Date
2019-12-31  23.600000
2020-01-02  23.889999
2020-01-03  23.980000
2020-01-06  23.809999
2020-01-07  24.200001

In [62]:
simple_returns = (data/data.shift(1))-1  ##data.pct_change() -> alternative
print ('Simple Returns:')
simple_returns.head()

Simple Returns:

                SAIL
Date
2019-12-31       NaN
2020-01-02  0.012288
2020-01-03  0.003767
2020-01-06 -0.007089
2020-01-07  0.016380

In [63]:
log_returns = np.log(data/data.shift(1))
print ('Log Returns:')
log_returns.head()

Log Returns:

                SAIL
Date
2019-12-31       NaN
2020-01-02  0.012213
2020-01-03  0.003760
2020-01-06 -0.007114
2020-01-07  0.016247